<div class="container fLeft fmralewayR" ng-controller="live" ng-init="selectedTab = 'live'">
    <div class="popupcnt" id="dltpop">
        <div class="trashPopwrp fmralewayR row lbl_lft15">
            <div class="heading_bidpop fLeft fmralewayB mBottom10">
                <span class="icnTrash dinline"></span>
                <span class="dinline">Cancel Auction</span>
                <span class="closePopup fRight" ng-click="closeDelete_popup()"></span>
            </div>
            <div class="col100 dflex itemLeft font17 pleft25 clrThem mBottom30">Are You Sure You Want to Cancel the Auction ?</div>
            <div class="col100 dflex itemCenter mBottom60">
                <div class="col70 dflex itemClmn">
                    <div class="cancl_resn fmralewayB">Reason of Cancellation</div>
                    <div class="col100 box_shadow dflex dropDown">
                        <div class="col100  poR">
                            <input type="text" class="userNametxt fLeft drpdwn">
                            <label class="label transition300 fmralewayB">Select Reason</label>
                        </div>
                        <div class="dropdown_arrow transition300"></div>
                        <ul class="box_shadow fmralewayB">
                            <li class="enterVal fLeft transition300">Not Working</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col100 fLeft">
                <center>
                    <div class="button_back dinline fmralewayB" ng-click="closeDelete_popup()">back</div>
                    <div class="button dinline fmralewayB">cancel auction</div>
                </center>
            </div>
        </div>
    </div>
    <div ng-include="'views/vhead.html'"></div>
    <div class="searchSection fmralewayB" id="srch_livebank">
        <div class="wrapperMax">
            <div class="general_cont fLeft">
                <span class="icnLiveauc txtUpper">live auction</span>
            </div>
            <div class="general_cont fRight">
                <span class="srch_cnt">
                    <div class="icn_srch"></div>
                    <input type="text" class="srch_input fLeft fmralewayR" placeholder="Search" ng-model="liveauc">
                </span>
            </div>
        </div>
    </div>
    <div class="stckyHdr background row">
        <div class="wrapperMax">
            <div class="accrodinetab_Header  fmralewayB sub_header">
                <div class="col15 pLeft40">branch / city</div>
                <div class="col15 p05">auction id / date & time</div>
                <div class="col25 p05">address</div>
                <div class="col15 p05">
                    <span>packets / net weight</span>
                </div>
                <div class="col15 p05">no of bidders</div>
                <div class="col15 p05">time left</div>
            </div>  
        </div>
    </div>
    <div class="wrapper fLeft row">
        <div class="wrapperMax">
            <div class="tabdata_cnt fLeft">
                <div class="accrodinetab_Header  fmralewayB sub_header">
                    <div class="col15 pLeft40">branch / city</div>
                    <div class="col15 p05">auction id / date & time</div>
                    <div class="col25 p05">address</div>
                    <div class="col15 p05">
                        <span>packets / net weight</span>
                    </div>
                    <div class="col15 p05">no of bidders</div>
                    <div class="col15 p05">time left</div>
                </div>
                <div class="data_cont fLeft" ng-repeat="tm in liveauction | filter:liveauc">
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col15">
                                <div class="col100 fLeft poR pLeft40">
                                    <div class="expandIcon" ng-click="openDatatable($event.target)"></div>
                                    <div class="col100">
                                        <span class="txtVal1 fLeft txtOver">{{tm.branch}}</span>
                                        <span class="txtVal2 fLeft fmralewayB txtOver">{{tm.city}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col15 p05">
                                <span class="fLeft txtVal1">{{tm.auctionid}}</span>
                                <span class="txtVal2 fLeft fmralewayB">{{tm.datetime}}</span>
                            </div>
                            <div class="col25 dflex p05">
                                <span class="txtVal">{{tm.address}}</span>
                            </div>
                            <div class="col15 itemClmn p05">
                                <span class="txtVal1 fLeft">
                                    <span>{{tm.packet}}</span>
                                </span>
                                <span class="txtVal2 fmralewayB clrGreen fLeft">{{tm.netweight}}</span>
                            </div>
                            <div class="col15 itemCenter p05">
                                <span class="txtVal1 fmralewayB itemLeft">
                                    {{tm.noofbidders}}
                                </span>
                            </div>
                            <div class="col15 dflex">
                                <span class="txtVal">
                                    <span class="icn_bid"></span>
                                    <span class="fmralewayB clrGreen">02:50:28</span>
                                </span>
                            </div>
                        </div>
                        <div class="col100 fLeft dspnone">
                            <div class="tabel_header dflex fmralewayB">
                                <div class="col10 dflex">
                                    <span class="itemCenter">loan a/c no</span>
                                </div>
                                <div class="col20 dflex">
                                    <span class="itemCenter">packet details</span>
                                </div>
                                <div class="col28 itemCenter">
                                    <span class="itemCenter">carat details</span>
                                </div>
                                <div class="col10 itemCenter">
                                    <span class="itemCenter">gross / net </span>
                                </div>
                                <div class="col11 itemRight">
                                    <span class="itemCenter">base price</span>
                                </div>
                                <div class="col13 itemRight">
                                    <span class="itemCenter">highest bid </span>
                                </div>
                                <div class="col11 itemCenter">
                                    <span class="itemCenter"> bidders</span>
                                </div>
                                <div class="col7 icnMore dflex"></div>
                            </div>
                            <ul class="dataList fLeft">
                                <li class="dflex" ng-repeat="vl in tm.value">
                                    <div class="col10 dflex">
                                        <span class="txtVal fmralewayB">{{vl.loanacno}}</span>
                                    </div>
                                    <div class="col20 dflex p05">
                                        <span class="txtVal">{{vl.packetdetails}}</span>
                                    </div>
                                    <div class="col28 dflex p05">
                                        <div class="col14 p05 itemClmn seperater" ng-repeat="crt in vl.caret">
                                            <span class="txtVal1 itemCenter">{{crt.crt}}</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{crt.weight}}</span>
                                        </div>
                                    </div>
                                    <div class="col10 p05 itemClmn">
                                        <span class="txtVal1  itemCenter">
                                            <span>{{vl.gross}}</span>
                                        </span>
                                        <span class="txtVal2  fmralewayB clrGreen itemCenter">
                                            <span>{{vl.net}}</span>
                                        </span>
                                    </div>
                                    <div class="col11 itemCenter p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpy">{{vl.baseprc}}</span>
                                        </span>
                                    </div>
                                    <div class="col13 dflex p05">
                                        <span class="txtVal itemRight">
                                            <span class="tbleIcncnt icnInfo"></span>
                                            <span class="spnRpyorng itemCenter">{{vl.hgstbid}}</span>
                                        </span>
                                    </div>
                                    <div class="col11 itemCenter fmralewayB p05">
                                        <span class="txtVal1 itemCenter fmralewayB">
                                           {{vl.bidders}}
                                        </span>
                                    </div>
                                    <div class="col7">
                                        <center>
                                            <div class="icnTrash" ng-click="openDelete_popup()"></div>
                                        </center>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>