<div class="container fLeft fmralewayR" ng-init="selectedTab = 'auc'">
    <div class="popupcnt" id="dltpop">
        <div class="trashPopwrp fmralewayR row lbl_lft15">
            <div class="heading_bidpop fLeft fmralewayB mBottom10">
                <span class="icnTrash dinline"></span>
                <span class="dinline">Cancel Auction</span>
                <span class="closePopup fRight" ng-click="closeDelete_popup()"></span>
            </div>
            <div class="col100 dflex itemLeft font17 pleft25 clrThem mBottom30">Are You Sure You Want to Cancel the Auction ?</div>
            <div class="col100 dflex itemCenter mBottom60">
                <div class="col70 dflex itemClmn">
                    <div class="cancl_resn fmralewayB">Reason of Cancellation</div>
                    <div class="col100 box_shadow dflex dropDown">
                        <div class="col100  poR">
                            <input type="text" class="userNametxt fLeft drpdwn">
                            <label class="label transition300 fmralewayB">Select Reason</label>
                        </div>
                        <div class="dropdown_arrow transition300"></div>
                        <ul class="box_shadow fmralewayB">
                            <li class="enterVal fLeft transition300">Not Working</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col100 fLeft">
                <center>
                    <div class="button_back dinline fmralewayB" ng-click="closeDelete_popup()">back</div>
                    <div class="button dinline fmralewayB">cancel auction</div>
                </center>
            </div>
        </div>
    </div>
    <div ng-include="'views/vhead.html'"></div>
    <div class="searchSection fmralewayB" id="srch_aucbank">
        <div class="wrapperMax">
            <div class="general_cont fLeft">
                <span class="icnAuc txtUpper">my auction</span>
            </div>
            <a href="createAuction" target="_blank">
                <div class="general_cont fRight mLeft12">
                    <span class="creatAuction fmralewayR cPointer">Create Auction</span>
                </div>
            </a>
            <div class="general_cont fRight">
                <span class="srch_cnt">
                    <div class="icn_srch"></div>
                    <input type="text" class="srch_input fLeft fmralewayR" placeholder="Search" ng-model="searchbankauction">
                </span>
            </div>
        </div>
    </div>
    <div class="stckyHdr background row">
        <div class="wrapperMax">
            <div class="accrodinetab_Header  fmralewayB">
                <div class="col15 pLeft40"> branch / city</div>
                <div class="col15">auction id / date & time</div>
                <div class="col20">address</div>
                <div class="col10">emd amount</div>
                <div class="col10">packet / net weight</div>
                <div class="col10 itemCenter">no of bidders</div>
                <div class="col10 itemCenter">status</div>
                <div class="col10 icnMore"></div>
            </div>
        </div>
    </div>
    <div class="wrapper fLeft row">
        <div class="wrapperMax">
            <div class="norecords fLeft fmralewayR" ng-show="(auctionLister |filter:searchbankauction).length==0">
                <div class="stts_txt1 fLeft fmralewayB">No Auction Found</div>
                <div class="stts_txt2 fLeft fmralewayB">We could not find what you are looking for</div>
            </div>
            <div class="tabdata_cnt fLeft" id="auc_bank" ng-show="(auctionLister|filter:searchbankauction).length > 0">
                <div class="accrodinetab_Header  fmralewayB">
                    <div class="col15 pLeft40"> branch / city</div>
                    <div class="col15">auction id / date & time</div>
                    <div class="col20">address</div>
                    <div class="col10">emd amount</div>
                    <div class="col10">packet / net weight</div>
                    <div class="col10 itemCenter">no of bidders</div>
                    <div class="col10 itemCenter">status</div>
                    <div class="col10 icnMore"></div>
                </div>
                <div class="data_cont fLeft" ng-repeat="bankerDetails in auctionLister">
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col15">
                                <div class="col100 fLeft poR pLeft40">
                                    <div class="expandIcon" ng-click="openDatatable($event.target)"></div>
                                    <div class="col100 fLeft">
                                        <span class="txtVal1 fLeft">{{bankerDetails.bankBranch}}</span>
                                        <span class="txtVal2 fLeft fmralewayB txtOver">{{bankerDetails.bankBranch}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col15">
                                <span class="txtVal1 fLeft">{{bankerDetails._id}}</span>
                                <span class="txtVal2 fLeft fmralewayB">{{bankerDetails.auctionEndDateAndTime | date :  "dd MMM, y | hh:mm:ss a"}}</span>
                            </div>
                            <div class="col20 dflex">
                                <span class="txtVal">{{bankerDetails.address}}</span>
                            </div>
                            <div class="col10 dflex">
                                <span class="txtVal">
                                    <span class="spnRpy itemCenter">{{formatInrAmount(bankerDetails.auctionEMDAmount)}}</span>
                                </span>
                            </div>
                            <div class="col10">
                                <span class="txtVal1 fLeft">{{(bankerDetails.packet.length == 1) ? 1 : bankerDetails.packet.length}} {{(bankerDetails.packet.length == 1) ? "Packet" : "Packets"}}</span>
                                <span class="txtVal2 fLeft fmralewayB clrGreen">{{bankerDetails.netWeight}} gm</span>
                            </div>
                            <div class="col10 itemCenter">
                                <span class="txtVal1 itemCenter">
                                    <span>125</span>
                                </span>
                            </div>
                            <div class="col10 dflex">
                                <span class="itemCenter col100 chngstatus">
                                    <span class="statusSaved fmralewayB">saved</span>
                                </span>
                            </div>
                            <div class="col10">
                                <center>
                                    <div class="icnTrash" ng-click="openDelete_popup()"></div>
                                    <div class="icnEdit" ng-click="auctionEditMode(bankerDetails.auctionId)"></div>
                                    <div class="icnPost" ng-click="updateAuctionStatus($event.target,bankerDetails.auctionId)"></div>
                                </center>
                            </div>
                        </div>
                        <div class="col100 fLeft dspnone">
                            <div class="tabel_header dflex fmralewayB">
                                <div class="col15 dflex">
                                    <span class="itemCenter">loan a/c no</span>
                                </div>
                                <div class="col20 dflex">
                                    <span class="itemCenter">packet details</span>
                                </div>
                                <div class="col30 itemCenter">
                                    <span class="itemCenter">carat details</span>
                                </div>
                                <div class="col10 itemCenter">
                                    <span class="itemCenter">gross / net </span>
                                </div>
                                <div class="col10 itemCenter">
                                    <span class="itemCenter">base price </span>
                                </div>
                                <div class="col15 dflex">
                                    <span class="itemCenter">reason for cancellation</span>
                                </div>
                            </div>
                            <ul class="dataList fLeft">
                                <li class="dflex" ng-repeat="listval in bankerDetails.packet">
                                    <div class="col15 dflex">
                                        <span class="txtVal fmralewayB">{{listval.loanAccountNumber}}</span>
                                    </div>
                                    <div class="col20 dflex p05">
                                        <span class="txtVal">{{listval.remarks}}</span>
                                    </div>
                                    <div class="col30 dflex p05">
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_18}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">19c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_19}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">20c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_20}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">21c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_21}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">22c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_22}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">23c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_23}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn">
                                            <span class="txtVal1 itemCenter">24c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{listval.carat_24}} gm</span>
                                        </div>
                                    </div>
                                    <div class="col10 p05 itemClmn">
                                        <span class="txtVal1  itemCenter">
                                            <span>{{listval.grossWeight}} gm</span>
                                        </span>
                                        <span class="txtVal2  fmralewayB clrGreen itemCenter">
                                            <span>{{listval.netWeight}} gm</span>
                                        </span>
                                    </div>
                                    <div class="col10 itemCenter p05">
                                        <span class="txtVal1 itemCenter">
                                            <span class="spnRpy">{{formatInrAmount(listval.baseAmount)}}</span>
                                        </span>
                                    </div>
                                    <div class="col15 dflex p05">
                                        <span class="txtVal">fsdfsd dfdsfdsfds dsfsfsaf dsfgdsfdsaf dsfdsfdsa</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>