<!DOCTYPE html>
<html>
    <head>
        <title>create auction</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/home.css" rel="stylesheet" type="text/css"/>
        <script src="../js/jquery.js" type="text/javascript"></script>
        <script src="../js/jquery-ui.js" type="text/javascript"></script>
<!--        <script src="../tools/js/jquery-ui-timepicker-addon.js" type="text/javascript"></script>-->
        <script src="../js/jquery.ui.timepicker.js" type="text/javascript"></script>
        <link href="../css/jquery-ui.css" rel="stylesheet" type="text/css"/>
       
    </head>
    <body class="background">
       <div class="container fLeft fmralewayR lbl_lft15">
            <div class="headerSection fmralewayB">
                <div class="wrapperMax">
                <div class="logo fLeft"></div>
                <div class="icn_profile fRight"></div>
                <div class="icn_setting fRight"></div>
<!--                <div class="icn_txtcnt fRight icn_bidauction" id="auc" onclick="changeiTab('auc_jewl');">auction</div>
                <div class="icn_txtcnt fRight icn_closedauctionSelect clrOrng" id="clsdAuc" onclick="changeiTab('closed_jewl');">closed auction</div>
                 <div class="icn_txtcnt fRight icn_liveauction" id="liveAuc" onclick="changeiTab('live_jewl');">live auction</div>
                  <div class="icn_txtcnt fRight icn_dashboard">dashboard</div>-->
                </div>
            </div>
             <div class="searchSection fmralewayB">
                <div class="wrapperMax">
                <div class="general_cont fLeft">
                    <span class="icnCreatauc txtUpper">create auction</span>
                </div>
                <div class="general_cont fRight">
                    <span class="srch_cnt">
                        <div class="icn_srch"></div>
                        <input type="text" class="srch_input fLeft fmralewayR" placeholder="Search">
                    </span>
                </div>
                </div>
            </div>
           <div class="wrapper fLeft row">
               <div class="col100 border_bottom fLeft">
                   <div class="wrapperMax">
                       <div class="col100 fLeft p15_3">
                           <div class="col100 fLeft">
                               <div class="banDetail_frmhead fLeft fmralewayB icnBankdetails">Bank Details</div>
                           </div>
                           <div class="col100 fLeft">
                               <div class="col33_33  p10 fLeft">
                                   <div class="col100 box_shadow dflex">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter Bank Name</label>
                                   </div>
                                       <div class="upload poR">Upload<input type="file" class="inpt_file"></div>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 fLeft poR box_shadow">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter Branch</label>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 fLeft poR box_shadow">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter Branch address</label> 
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 box_shadow dflex dropDown">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft drpdwn">
                                       <label class="label transition300 fmralewayB">enter City</label> 
                                   </div>
                                   <div class="dropdown_arrow transition300"></div>
                                   <ul class="box_shadow fmralewayB">
                                       <li class="enterVal fLeft transition300">Kolkata</li>
                                       <li class="enterVal fLeft transition300">Bangalore</li>
                                       <li class="enterVal fLeft transition300">Chennai</li>
                                        <li class="enterVal fLeft transition300">Mumbai</li>
                                        <li class="enterVal fLeft transition300">Delhi</li>
                                   </ul>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 box_shadow dflex dropDown">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft drpdwn">
                                       <label class="label transition300 fmralewayB">enter State</label> 
                                   </div>
                                       <div class="dropdown_arrow transition300"></div>
                                        <ul class="box_shadow fmralewayB">
                                       <li class="enterVal fLeft transition300">West Bengal</li>
                                       <li class="enterVal fLeft transition300">karnataka</li>
                                       <li class="enterVal fLeft transition300">Maharasthra</li>
                                        <li class="enterVal fLeft transition300">goa</li>
                                        <li class="enterVal fLeft transition300">Assam</li>
                                   </ul>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 fLeft poR box_shadow">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter Pin code</label> 
                                   </div>
                               </div>
                           </div>
                       </div>  
                   </div>
               </div>
                 <div class="col100 border_bottom fLeft">
                   <div class="wrapperMax">
                       <div class="col100 fLeft p15_3">
                           <div class="col100 fLeft">
                               <div class="banDetail_frmhead fLeft fmralewayB icnAuctiondetails">Auction Details</div>
                           </div>
                           <div class="col100 fLeft">
                               <div class="col33_33  p10 fLeft">
                                   <div class="col100 box_shadow dflex">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter Auction date</label>
                                   </div>
                                   <div class="icnDate"></div>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 box_shadow dflex">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft timepicker">
                                       <label class="label transition300 fmralewayB">enter Auction time</label>
                                   </div>
                                   <div class="icnTime"></div>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 fLeft poR box_shadow">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter Auction number</label> 
                                   </div>
                               </div>

                               <div class="col33_33 p10 fLeft"> 
                                   <div class="col100  poR box_shadow fLeft">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">enter emd amount</label> 
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 box_shadow dflex">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft datepicker">
                                       <label class="label transition300 fmralewayB">enter emd last date</label> 
                                   </div>
                                       <div class="icnDate"></div>
                                   </div>
                               </div>
                           </div>
                       </div>  
                   </div>
               </div>
                    <div class="col100  fLeft">
                   <div class="wrapperMax">
                       <div class="col100 fLeft p15_3">
                           <div class="col100 fLeft">
                               <div class="banDetail_frmhead fLeft fmralewayB icnPacketdetails">Packet Details</div>
                           </div>
                           <div class="col100 fLeft">
                               <div class="col33_33  p10 fLeft">
                                   <div class="col100 box_shadow dflex dropDown">
                                       <div class="col100  poR">
                                           <input type="text" class="userNametxt fLeft drpdwn">
                                           <label class="label transition300 fmralewayB">enter number of packets</label>
                                       </div>
                                       <div class="dropdown_arrow transition300"></div>
                                        <ul class="box_shadow fmralewayB">
                                       <li class="enterVal fLeft transition300">One Packet</li>
                                       <li class="enterVal fLeft transition300">Two Packet</li>
                                       <li class="enterVal fLeft transition300">Three Packet</li>
                                        <li class="enterVal fLeft transition300">Four Packet</li>
                                        <li class="enterVal fLeft transition300">Five Packet</li>
                                   </ul>
                                   </div>
                               </div>
                               <div class="col33_33  p10 fLeft">
                                   <div class="col100 box_shadow dflex">
                                   <div class="col100  poR">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">upload packet details document</label>
                                   </div>
                                   <div class="upload poR">Upload<input type="file" class="inpt_file"></div>
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100 fLeft poR box_shadow">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">packet1  loan account number</label> 
                                   </div>
                               </div>

                               <div class="col33_33 p10 fLeft"> 
                                   <div class="col100  poR box_shadow fLeft">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">packet2  loan account number</label> 
                                   </div>
                               </div>
                               <div class="col33_33 p10 fLeft">
                                   <div class="col100  poR box_shadow fLeft">
                                       <input type="text" class="userNametxt fLeft">
                                       <label class="label transition300 fmralewayB">packet3  loan account number</label> 
                                   </div>
                               </div>
                           </div>
                       </div>  
                   </div>
               </div>
               <div class="col100 p15_3 fLeft">
                        <center>
                            <div class="button_back dinline fmralewayB">back</div>
                            <div class="button dinline fmralewayB">next</div>
                        </center>
                    </div>
           </div>
       </div>
        <script src="../tools/js/dropdown.js" type="text/javascript"></script>
        <script src="../tools/js/creatAuction.js" type="text/javascript"></script>
    </body>
</html>
