<!DOCTYPE html>
<html>

<head>
    <title>jewel view</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js"></script>
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/velocity.js" type="text/javascript"></script>
    <script src="controls/<%=headerDetails.serviceFile%>" type="text/javascript"></script>
    <script src="controls/<%=headerDetails.controllerFile%>" type="text/javascript"></script>
    <script src="scripts/signin.js" type="text/javascript"></script>
    <link href="styles/home.css" rel="stylesheet" type="text/css" />
    <script src="scripts/dropdown.js" type="text/javascript"></script>
    <script>
        var pageName = "<%=headerDetails.page%>";
    </script>
</head>

<body class="background" ng-controller="jewellerControl" ng-app="serviceFactory">
    <div ng-view></div>
</body>

</html>