<div class="container fLeft fmralewayR" ng-init="selectedTab = 'live'">
    <div class="popupcnt row" id="rankpop">
        <div class="rankShitwrp fmralewayR">
            <div class="rnkShitheader fLeft">
                <div class="col50 fLeft txtLeft">
                    <span class="rankShit_htxt">Rank Sheet</span>
                </div>
                <div class="col50 fLeft txtRight">
                    <span class="close_rankshit dinline" ng-click="closeRanking_popup()"></span>
                </div>
            </div>
            <div class="rankDatacnt fLeft">
                <div class="col100 fLeft rnkpop">
                    <div class="col30 fLeft">
                        <span class="rankCount icnrank fmralewayB">03</span>
                    </div>
                    <div class="col70 fLeft">
                        <span class="col100 dinline">
                            <span class="txtVal1 fLeft font13 txtRight">
                                <span class="spnRpy dinline">7,86,000</span>
                        </span>
                        <span class="txtVal2 fLeft fmralewayB txtRight">
                                <span class="dinline">15 min ago</span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col100 fLeft rnkpop">
                    <div class="col30 fLeft">
                        <span class="rankCount icnrank fmralewayB">03</span>
                    </div>
                    <div class="col70 fLeft">
                        <span class="col100 dinline">
                            <span class="txtVal1 fLeft font13 txtRight">
                                <span class="spnRpy dinline">7,86,000</span>
                        </span>
                        <span class="txtVal2 fLeft fmralewayB txtRight">
                                <span class="dinline">15 min ago</span>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="col100 fLeft rnkpop">
                    <div class="col30 fLeft">
                        <span class="rankCount icnrank fmralewayB">03</span>
                    </div>
                    <div class="col70 fLeft">
                        <span class="col100 dinline">
                            <span class="txtVal1 fLeft font13 txtRight">
                                <span class="spnRpy dinline">7,86,000</span>
                        </span>
                        <span class="txtVal2 fLeft fmralewayB txtRight">
                                <span class="dinline">15 min ago</span>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popupcnt row" id="bpop">
        <div class="bidPopwrp fmralewayR">
            <div class="heading_bidpop fLeft fmralewayB">
                <span>Bidding</span>
                <span class="closePopup fRight" ng-click="closeBidding_popup()"></span>
            </div>
            <div class="pop_biddetailscnt fLeft">
                <div class="col25 fLeft">
                    <div class="lblhedaer_Bidpop fLeft fmralewayB">bank details</div>
                    <div class="col100 fLeft">
                        <span class="txtVal1 fLeft fmralewayR">Axis Bank</span>
                        <span class="txtVal2 fLeft fmralewayB">Koromangala Branch</span>
                    </div>
                </div>
                <div class="col25 fLeft">
                    <div class="lblhedaer_Bidpop fLeft fmralewayB">Packet no / net weight</div>
                    <div class="col100 fLeft">
                        <span class="txtVal1 fLeft fmralewayR">Packet 1</span>
                        <span class="txtVal2 fLeft fmralewayB clrGreen">800 grm</span>
                    </div>
                </div>
                <div class="col25 fLeft">
                    <div class="lblhedaer_Bidpop fLeft fmralewayB">highest bid / my last bid</div>
                    <div class="col100 fLeft">
                        <span class="txtVal1 fLeft fmralewayB">
                            <span class="spnRpyorng">1,50,000</span>
                        </span>
                        <span class="txtVal2 fLeft fmralewayB">
                            <span class="spnRpy fmralewayB">1,00,000</span>
                        </span>
                    </div>
                </div>
                <div class="col25 fLeft">
                    <div class="lblhedaer_Bidpop fLeft fmralewayB">base price</div>
                    <div class="col100 fLeft">
                        <span class="txtVal1 fLeft fmralewayB">
                            <span class="spnRpyorng">1,50,000</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col100 fLeft p15_0">
                <div class="lblhedaer_Bidpop fLeft fmralewayB">packet details</div>
                <div class="col100 fLeft">
                    <span class="txtVal1 fLeft fmralewayR font12">2 Earrings , 5Rings ,10 Necklaces ,10 Bangales</span>
                </div>
            </div>
            <div class="col100 fLeft">
                <div class="lblhedaer_Bidpop fLeft fmralewayB">carat details</div>
                <div class="col100 fLeft pTop5">
                    <div class="caratBox fLeft">
                        <span class="dinline col100">
                            <span class="txtVal1 fLeft txtCenter">
                                <span>18c</span>
                        </span>
                        <span class="txtVal2 fmralewayB fLeft txtCenter">
                                <span>16 gm</span>
                        </span>
                        </span>
                    </div>
                    <div class="caratBox fLeft">
                        <span class="dinline col100">
                            <span class="txtVal1 fLeft txtCenter">
                                <span>18c</span>
                        </span>
                        <span class="txtVal2 fmralewayB fLeft txtCenter">
                                <span>16 gm</span>
                        </span>
                        </span>
                    </div>
                    <div class="caratBox fLeft">
                        <span class="dinline col100">
                            <span class="txtVal1 fLeft txtCenter">
                                <span>18c</span>
                        </span>
                        <span class="txtVal2 fmralewayB fLeft txtCenter">
                                <span>16 gm</span>
                        </span>
                        </span>
                    </div>
                    <div class="caratBox fLeft">
                        <span class="dinline col100">
                            <span class="txtVal1 fLeft txtCenter">
                                <span>18c</span>
                        </span>
                        <span class="txtVal2 fmralewayB fLeft txtCenter">
                                <span>16 gm</span>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col100 fLeft pTop15">
                <div class="inform_Minimumbid fLeft icnInfo">
                    <span class="dinline">Minimum bid increased by </span>
                    <span class="spnRpy fmralewayB dinline">1,00,000</span>
                </div>
            </div>
            <div class="col100 fLeft pTop15">
                <div class="lblhedaer_Bidpop fLeft fmralewayB">my bid</div>
                <div class="col100 fLeft pTop5">
                    <input type="text" class="txtBox_enterbid fLeft" placeholder="Enter Your Bid">
                    <div class="button fRight fmralewayB">submit</div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'views/vheadjewl.html'"></div>
    <div class="searchSection fmralewayB" id="srch_livejwl">
        <div class="wrapperMax">
            <div class="general_cont fLeft">
                <span class="icnLiveauc txtUpper">live auction</span>
            </div>
            <div class="general_cont fRight">
                <span class="srch_cnt">
                    <div class="icn_srch"></div>
                    <input type="text" class="srch_input fLeft fmralewayR" placeholder="Search">
                </span>
            </div>
        </div>
    </div>
    <div class="wrapper fLeft row">
        <div class="wrapperMax">
            <div class="norecords fLeft fmralewayR dn">
                <div class="stts_txt1 fLeft fmralewayB">No Auction Found</div>
                <div class="stts_txt2 fLeft fmralewayB">We could not find what you are looking for</div>
            </div>
            <div class="tabdata_cnt fLeft" id="live_jewl">
                <div class="accrodinetab_Header  fmralewayB">
                    <div class="col30">bank / auction id</div>
                    <div class="col20">branch</div>
                    <div class="col20">address</div>
                    <div class="col15">packets / net weight</div>
                    <div class="col15">time left</div>
                </div>
                <div class="data_cont fLeft">
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col30">
                                <div class="col100 fLeft poR pLeft40">
                                    <div class="expandIcon" ng-click="openDatatable($event.target)"></div>
                                    <div class="col100 fLeft  pLeft85 icnCbi">
                                        <span class="txtVal1 fLeft">Central Bank of India</span>
                                        <span class="txtVal2 fLeft fmralewayB txtOver">9876543456865439852012</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col20 dflex">
                                <span class="txtVal fmralewayB">Railway Line Brunch</span>
                            </div>
                            <div class="col20 dflex">
                                <span class="txtVal">Station Road railway lines,solapur ,Maharashtra, 413002</span>
                            </div>
                            <div class="col15">
                                <span class="txtVal1 fLeft">
                                    <span>5 Packets</span>
                                </span>
                                <span class="txtVal2 fLeft fmralewayB clrGreen">876 gm</span>
                            </div>
                            <div class="col15 dflex">
                                <span class="txtVal">
                                    <span class="icn_bid"></span>
                                <span class="fmralewayB clrGreen">02:50:28</span>
                                </span>
                            </div>
                        </div>
                        <div class="col100 fLeft dspnone">
                            <div class="tabel_header dflex fmralewayB">
                                <div class="col10 dflex">
                                    <span class="itemCenter">loan a/c no</span>
                                </div>
                                <div class="col20 dflex">
                                    <span class="itemCenter">packet details</span>
                                </div>
                                <div class="col28 itemCenter">
                                    <span class="itemCenter">carat details</span>
                                </div>
                                <div class="col10 itemCenter">
                                    <span class="itemCenter">gross / net </span>
                                </div>
                                <div class="col11 itemRight">
                                    <span class="itemCenter">base price</span>
                                </div>
                                <div class="col13 itemRight">
                                    <span class="itemCenter">highest bid / my bid</span>
                                </div>
                                <div class="col11 itemCenter">
                                    <span class="itemCenter">rank / bidders</span>
                                </div>
                                <div class="col7 icnMore dflex"></div>
                            </div>
                            <ul class="dataList fLeft">
                                <li class="dflex">
                                    <div class="col10 dflex">
                                        <span class="txtVal fmralewayB">99888723662552</span>
                                    </div>
                                    <div class="col20 dflex p05">
                                        <span class="txtVal">2 Ear rings, 2 nose pins, 5 bangels, 5 Necklaces, 10 Pendants</span>
                                    </div>
                                    <div class="col28 dflex p05">
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                    </div>
                                    <div class="col10 p05 itemClmn">
                                        <span class="txtVal1  itemCenter">
                                            <span>80 gm</span>
                                        </span>
                                        <span class="txtVal2  fmralewayB clrGreen itemCenter">
                                            <span>78 gm</span>
                                        </span>
                                    </div>
                                    <div class="col11 itemCenter p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpy">1,20,000</span>
                                        </span>
                                    </div>
                                    <div class="col13 itemClmn p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpyorng">1,50,000</span>
                                        </span>
                                        <span class="txtVal2 itemRight">
                                            <span class="icnPerson"></span>
                                        <span class="spnRpy fmralewayB">1,00,000</span>
                                        </span>
                                    </div>
                                    <div class="col11 dflex fmralewayB p05">
                                        <span class="txtVal itemCenter cPointer" ng-click="openRanking_popup()">
                                            <span class="icnBadge"></span>
                                        <span class="clrOrng">03</span>
                                        <span>/</span>
                                        <span>12</span>
                                        </span>
                                    </div>
                                    <div class="col7 itemCenter">
                                        <div class="statusBid fmralewayB transition300" ng-click="openBidding_popup()">bid now</div>
                                    </div>
                                </li>
                                <li class="dflex">
                                    <div class="col10 dflex">
                                        <span class="txtVal fmralewayB">99888723662552</span>
                                    </div>
                                    <div class="col20 dflex p05">
                                        <span class="txtVal">2 Ear rings, 2 nose pins, 5 bangels, 5 Necklaces, 10 Pendants</span>
                                    </div>
                                    <div class="col28 dflex p05">
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                    </div>
                                    <div class="col10 p05 itemClmn">
                                        <span class="txtVal1  itemCenter">
                                            <span>80 gm</span>
                                        </span>
                                        <span class="txtVal2  fmralewayB clrGreen itemCenter">
                                            <span>78 gm</span>
                                        </span>
                                    </div>
                                    <div class="col11 itemCenter p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpy">1,20,000</span>
                                        </span>
                                    </div>
                                    <div class="col13 itemClmn p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpyorng">1,50,000</span>
                                        </span>
                                        <span class="txtVal2 itemRight">
                                            <span class="icnPerson"></span>
                                        <span class="spnRpy fmralewayB">1,00,000</span>
                                        </span>
                                    </div>
                                    <div class="col11 dflex fmralewayB p05">
                                        <span class="txtVal itemCenter">
                                            <span class="icnBadge"></span>
                                        <span class="clrOrng">03</span>
                                        <span>/</span>
                                        <span>12</span>
                                        </span>
                                    </div>
                                    <div class="col7 itemCenter">
                                        <div class="statusBid fmralewayB">bid now</div>
                                    </div>
                                </li>
                                <li class="dflex">
                                    <div class="col10 dflex">
                                        <span class="txtVal fmralewayB">99888723662552</span>
                                    </div>
                                    <div class="col20 dflex p05">
                                        <span class="txtVal">2 Ear rings, 2 nose pins, 5 bangels, 5 Necklaces, 10 Pendants</span>
                                    </div>
                                    <div class="col28 dflex p05">
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">16 gm</span>
                                        </div>
                                    </div>
                                    <div class="col10 p05 itemClmn">
                                        <span class="txtVal1  itemCenter">
                                            <span>80 gm</span>
                                        </span>
                                        <span class="txtVal2  fmralewayB clrGreen itemCenter">
                                            <span>78 gm</span>
                                        </span>
                                    </div>
                                    <div class="col11 itemCenter p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpy">1,20,000</span>
                                        </span>
                                    </div>
                                    <div class="col13 itemClmn p05">
                                        <span class="txtVal1 itemRight">
                                            <span class="spnRpyorng">1,50,000</span>
                                        </span>
                                        <span class="txtVal2 itemRight">
                                            <span class="icnPerson"></span>
                                        <span class="spnRpy fmralewayB">1,00,000</span>
                                        </span>
                                    </div>
                                    <div class="col11 dflex fmralewayB p05">
                                        <span class="txtVal itemCenter">
                                            <span class="icnBadge"></span>
                                        <span class="clrOrng">03</span>
                                        <span>/</span>
                                        <span>12</span>
                                        </span>
                                    </div>
                                    <div class="col7 itemCenter">
                                        <div class="statusBid fmralewayB">bid now</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>