<div class="container fLeft fmralewayR" ng-controller="closed" ng-init="selectedTab = 'clsd'">
    <div ng-include="'views/vheadjewl.html'"></div>
    <div class="searchSection fmralewayB" id="srch_closejwl">
        <div class="wrapperMax">
            <div class="general_cont fLeft">
                <span class="icnClosedauc txtUpper">closed auction</span>
            </div>
            <div class="general_cont fRight">
                <span class="srch_cnt">
                    <div class="icn_srch"></div>
                    <input type="text" class="srch_input fLeft fmralewayR" placeholder="Search">
                </span>
            </div>
        </div>
    </div>
    <div class="wrapper fLeft row">
        <div class="wrapperMax">
            <div class="norecords fLeft fmralewayR dn">
                <div class="stts_txt1 fLeft fmralewayB">No Auction Found</div>
                <div class="stts_txt2 fLeft fmralewayB">We could not find what you are looking for</div>
            </div>
            <div class="tabdata_cnt fLeft">
                <div class="accrodinetab_Header  fmralewayB">
                    <div class="col20">bank / branch</div>
                    <div class="col14">auction id / date & time</div>
                    <div class="col18">address</div>
                    <div class="col14">payable amount / days left</div>
                    <div class="col13">bank account number</div>
                    <div class="col13">packets / neight weight</div>
                    <div class="col8 txtCenter">winner details</div>
                </div>
                <div class="data_cont fLeft">
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col20  pLeft85 icnCbi">
                                <span class="txtVal1 fLeft">Central Bank of India</span>
                                <span class="txtVal2 fLeft fmralewayB txtOver">Railway Line Brunch</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">98878653423414452</span>
                                <span class="txtVal2 fLeft fmralewayB">23rd Jul ,2017 | 4.00 pm</span>
                            </div>
                            <div class="col18 dflex">
                                <span class="txtVal">Station Road railway lines,solapur ,Maharashtra, 413002</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">
                                    <span class="spnRpy fLeft">5,00,000</span>
                                    <span class="txtVal2 fLeft fmralewayB">23 days</span>
                                </span>
                            </div>
                            <div class="col13 dflex">
                                <span class="txtVal">098765432456789</span>
                            </div>
                            <div class="col13">
                                <span class="txtVal1 fLeft">5 Packets</span>
                                <span class="txtVal2 fLeft clrGreen fmralewayB">876 gm</span>
                            </div>
                            <div class="col8">
                                <center>
                                    <div class="icnPdf"></div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col20  pLeft85 icnCbi">
                                <span class="txtVal1 fLeft">Central Bank of India</span>
                                <span class="txtVal2 fLeft fmralewayB txtOver">Railway Line Brunch</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">98878653423414452</span>
                                <span class="txtVal2 fLeft fmralewayB">23rd Jul ,2017 | 4.00 pm</span>
                            </div>
                            <div class="col18 dflex">
                                <span class="txtVal">Station Road railway lines,solapur ,Maharashtra, 413002</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">
                                    <span class="spnRpy fLeft">5,00,000</span>
                                    <span class="txtVal2 fLeft fmralewayB">23 days</span>
                                </span>
                            </div>
                            <div class="col13 dflex">
                                <span class="txtVal">098765432456789</span>
                            </div>
                            <div class="col13">
                                <span class="txtVal1 fLeft">5 Packets</span>
                                <span class="txtVal2 fLeft clrGreen fmralewayB">876 gm</span>
                            </div>
                            <div class="col8">
                                <center>
                                    <div class="icnPdf"></div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col20  pLeft85 icnAxisbnk">
                                <span class="txtVal1 fLeft">Central Bank of India</span>
                                <span class="txtVal2 fLeft fmralewayB txtOver">Railway Line Brunch</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">98878653423414452</span>
                                <span class="txtVal2 fLeft fmralewayB">23rd Jul ,2017 | 4.00 pm</span>
                            </div>
                            <div class="col18 dflex">
                                <span class="txtVal">Station Road railway lines,solapur ,Maharashtra, 413002</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">
                                    <span class="spnRpy fLeft">5,00,000</span>
                                    <span class="txtVal2 fLeft fmralewayB">23 days</span>
                                </span>
                            </div>
                            <div class="col13 dflex">
                                <span class="txtVal">098765432456789</span>
                            </div>
                            <div class="col13">
                                <span class="txtVal1 fLeft">5 Packets</span>
                                <span class="txtVal2 fLeft clrGreen fmralewayB">876 gm</span>
                            </div>
                            <div class="col8">
                                <center>
                                    <div class="icnPdf"></div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="accrodine_Card fLeft">
                        <div class="data_wrapper">
                            <div class="col20  pLeft85 icnBob">
                                <span class="txtVal1 fLeft">Central Bank of India</span>
                                <span class="txtVal2 fLeft fmralewayB txtOver">Railway Line Brunch</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">98878653423414452</span>
                                <span class="txtVal2 fLeft fmralewayB">23rd Jul ,2017 | 4.00 pm</span>
                            </div>
                            <div class="col18 dflex">
                                <span class="txtVal">Station Road railway lines,solapur ,Maharashtra, 413002</span>
                            </div>
                            <div class="col14">
                                <span class="txtVal1 fLeft">
                                    <span class="spnRpy fLeft">5,00,000</span>
                                    <span class="txtVal2 fLeft fmralewayB">23 days</span>
                                </span>
                            </div>
                            <div class="col13 dflex">
                                <span class="txtVal">098765432456789</span>
                            </div>
                            <div class="col13">
                                <span class="txtVal1 fLeft">5 Packets</span>
                                <span class="txtVal2 fLeft clrGreen fmralewayB">876 gm</span>
                            </div>
                            <div class="col8">
                                <center>
                                    <div class="icnPdf"></div>
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>