<div class="container fLeft fmralewayR" ng-init="selectedTab = 'auc'">
    <div class="popupcnt row" id="applypop">
        <div class="appyp_popcnt fmralewayR">
            <div class="apply_msgcnt fLeft">
                <div class="apply_msgwrp">
                    <div class="heading_bidpop fLeft fmralewayB mBottom30">
                        <span class="icn_bidauction dinline icnCnt"></span>
                        <span class="dinline">Apply</span>
                        <span class="closePopup fRight" ng-click="closeapply_popup()"></span>
                    </div>
                    <div class="col100 dflex itemCenter clrThem font17 mBottom40">Are You Sure You Want to Apply for this Auction ?</div>
                    <div class="col100 fLeft">
                        <center>
                            <div class="button_back dinline fmralewayB">no</div>
                            <div class="button dinline fmralewayB" ng-click="changeEmd()">yes</div>
                        </center>
                    </div>
                </div>
                <div class="emd_msgwrp">
                    <div class="heading_bidpop fLeft fmralewayB mBottom10">
                        <span class="dinline">EMD Amount</span>
                        <span class="closePopup fRight" ng-click="closeapply_popup()"></span>
                    </div>
                    <div class="col100 fLeft">
                        <div class="inform_Minimumbid fLeft icnInfo">
                            <span class="dinline">To Apply for this auction you need to pay EMD amount of </span>
                            <span class="spnRpy fmralewayB dinline">{{formatInrAmount(auctionEMDAmount)}}</span>
                        </div>
                        <div class="inform_Minimumbid fLeft">
                            <span class="dinline">before
                                <span class="fmralewayB">{{auctionDateAndTime|date :  "dd MMMM, y"}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col100 fLeft mTop50">
                        <center>
                            <div class="button dinline fmralewayB" ng-click="applyForAuction()">pay emd</div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'views/vheadjewl.html'"></div>
    <div class="searchSection fmralewayB" id="srch_aucjwl">
        <div class="wrapperMax">
            <div class="general_cont fLeft">
                <span class="icnAuc txtUpper">auction</span>
            </div>
            <div class="general_cont fRight">
                <span class="srch_cnt">
                    <div class="icn_srch"></div>
                    <input type="text" class="srch_input fLeft fmralewayR" placeholder="Search" ng-model="searchauctionjewel">
                </span>
            </div>
        </div>
    </div>
    <div class="wrapper fLeft row">
        <div class="wrapperMax">
            <div class="norecords fLeft fmralewayR" ng-show="(auctionLister |filter:searchauctionjewel).length==0">
                <div class="stts_txt1 fLeft fmralewayB">No Auction Found</div>
                <div class="stts_txt2 fLeft fmralewayB">We could not find what you are looking for</div>
            </div>
            <div class="tabdata_cnt fLeft" id="auc_jewl">
                <div class="accrodinetab_Header  fmralewayB" ng-show="(auctionLister|filter:searchauctionjewel).length > 0">
                    <div class="col25">bank / branch</div>
                    <div class="col15">auction id / date & time</div>
                    <div class="col20">address</div>
                    <div class="col10">emd amount</div>
                    <div class="col10">packet / net weight</div>
                    <div class="col12"></div>
                    <div class="col8 itemCenter">status</div>
                </div>
                <div class="data_cont fLeft">
                    <div class="accrodine_Card fLeft" ng-repeat="jewellerDetails in auctionLister |filter:searchauctionjewel" ng-show="(auctionLister|filter:searchauctionjewel).length > 0">
                        <div class="data_wrapper">
                            <div class="col25">
                                <div class="col100 fLeft poR pLeft40">
                                    <div class="expandIcon" ng-click="openDatatable($event.target)"></div>
                                    <div class="col100 fLeft  pLeft85 icnCbi">
                                        <span class="txtVal1 fLeft">{{jewellerDetails.bankName}}</span>
                                        <span class="txtVal2 fLeft fmralewayB txtOver">{{jewellerDetails.bankBranch}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col15">
                                <span class="txtVal1 fLeft">{{jewellerDetails._id}}</span>
                                <span class="txtVal2 fLeft fmralewayB">{{jewellerDetails.auctionEndDateAndTime | date :  "dd MMM, y | hh:mm:ss a"}}</span>
                            </div>
                            <div class="col20 dflex">
                                <span class="txtVal">{{jewellerDetails.address}}</span>
                            </div>
                            <div class="col10 dflex">
                                <span class="txtVal">
                                    <span class="spnRpy itemCenter">{{formatInrAmount(jewellerDetails.auctionEMDAmount)}}</span>
                                </span>
                            </div>
                            <div class="col10">
                                <span class="txtVal1 fLeft">{{(jewellerDetails.packet.length == 1) ? 1 : jewellerDetails.packet.length}} {{(jewellerDetails.packet.length == 1) ? "Packet" : "Packets"}}</span>
                                <span class="txtVal2 fLeft fmralewayB clrGreen">{{jewellerDetails.netWeight}} gm</span>
                            </div>
                            <div class="col12">

                            </div>
                            <div class="col8 dflex">
                                <div class="itemCenter col100">
                                    <div class="{{(ifJewellerExist(jewellerDetails.auctionApplied).length == true ? 'statusApplied' : 'statusBid')}} fmralewayB" ng-click="openapply_popup(jewellerDetails.auctionId)">{{(ifJewellerExist(jewellerDetails.auctionApplied).length ? 'Applied' : 'Apply')}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col100 fLeft dspnone">
                            <div class="tabel_header dflex fmralewayB">
                                <div class="col15 dflex">
                                    <span class="itemCenter">loan a/c no</span>
                                </div>
                                <div class="col30 dflex">
                                    <span class="itemCenter">packet details</span>
                                </div>
                                <div class="col30 itemCenter">
                                    <span class="itemCenter">carat details</span>
                                </div>
                                <div class="col10 itemCenter">
                                    <span class="itemCenter">gross / net </span>
                                </div>
                                <div class="col15 itemCenter">
                                    <span class="itemCenter">base price</span>
                                </div>
                            </div>
                            <ul class="dataList fLeft">
                                <li class="dflex" ng-repeat="packetDetails in jewellerDetails.packet">
                                    <div class="col15 dflex">
                                        <span class="txtVal fmralewayB">{{packetDetails.packetId}}</span>
                                    </div>
                                    <div class="col30 dflex p05">
                                        <span class="txtVal">{{packetDetails.remarks}}</span>
                                    </div>
                                    <div class="col30 dflex p05">
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">18c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_18}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">19c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_19}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">20c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_20}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">21c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_21}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">22c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_22}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn seperater">
                                            <span class="txtVal1 itemCenter">23c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_23}} gm</span>
                                        </div>
                                        <div class="col14 p05 itemClmn">
                                            <span class="txtVal1 itemCenter">24c</span>
                                            <span class="txtVal2 fmralewayB itemCenter">{{packetDetails.carat_24}} gm</span>
                                        </div>
                                    </div>
                                    <div class="col10 p05 itemClmn">
                                        <span class="txtVal1  itemCenter">
                                            <span>{{packetDetails.grossWeight}} gm</span>
                                        </span>
                                        <span class="txtVal2  fmralewayB clrGreen itemCenter">
                                            <span>{{packetDetails.netWeight}} gm</span>
                                        </span>
                                    </div>
                                    <div class="col15 itemCenter p05">
                                        <span class="txtVal1 itemCenter">
                                            <span class="spnRpy">{{formatInrAmount(packetDetails.baseAmount)}}</span>
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>