
<div class="container fLeft fmralewayR pTop60" ng-controller="lgn">
    <div class="headerSection fmralewayB">
        <div class="wrapperMax">
            <div class="logo fLeft"></div>
        </div>
    </div>
    <div class="signInpagecnt fLeft row">
        <div class="signInwrp">
            <div class="heading_bidpop fLeft fmralewayB mBottom20">Sign In</div>
            <div class="col100 fLeft mBottom10 poR box_shadow">
                <input type="text" class="userNametxt fLeft icn_Username" readonly="readonly" ng-model="username">
                <label class="label transition300 fmralewayB">User Name / Email id</label>
            </div>
            <div class="col100 fLeft mBottom40 poR box_shadow">
                <input type="password" class="userNametxt fLeft icn_Password" readonly="readonly" id="pswrd" ng-model="password">
                <label class="label transition300 fmralewayB">Password</label>
            </div>
            <div class="col100 fLeft">
                <div class="button fLeft fmralewayB" ng-click="submit();">sign in</div>
                <div class="frgt_pswrdtxt fRight fmralewayB">forgot password</div>
            </div>
        </div>  
    </div>
</div>
