<div class="headerSection fmralewayB">
    <div class="wrapperMax">
        <div class="logo fLeft"></div>
        <div class="icn_profile fRight poR">
            <div class="profilePnl" ng-click="openLogout($event.target)">
                <ul>
                    <li class="icnLogout" ng-click="logout()">Log Out</li>
                </ul>
            </div>
        </div>
        <div class="icn_setting fRight"></div>
        <a ui-sref="jeweller-closed-auctions" href="">
            <div class="icn_txtcnt fRight icn_closedauction clsd" ng-class="(selectedTab == 'clsd' ? 'icn_closedauctionSelect':'')" ng-model="auctionClosed" ng-click="fetchUpCommingAuctions(auctionClosed,$event.target)">closed auction</div>
        </a>
        <a ui-sref="jeweller-live-auction" href="">
            <div class="icn_txtcnt fRight icn_liveauction live" ng-class="(selectedTab == 'live' ? 'icn_liveauctionSelect' : '')" ng-model="auctionLive" ng-click="fetchUpCommingAuctions(auctionLive,$event.target)">live auction</div>
        </a>
        <a ui-sref="jeweller-upcoming-auction" href="">
            <div class="icn_txtcnt fRight icn_bidauction auc" ng-class="(selectedTab == 'auc' ? 'icn_auctionSelect':'')" ng-model="auctionUpcoming" ng-click="fetchUpCommingAuctions(auctionUpcoming,$event.target)">auction</div>
        </a>
        <div class="icn_txtcnt fRight icn_dashboard">dashboard</div>
    </div>
</div>