  <div class="headerSection fmralewayB">
                <div class="wrapperMax">
                <div class="logo fLeft"></div>
                <div class="icn_profile fRight"></div>
                <div class="icn_setting fRight"></div>
                <div class="icn_txtcnt fRight icn_bidauction">auction</div>
                <div class="icn_txtcnt fRight icn_closedauction">closed auction</div>
                 <div class="icn_txtcnt fRight icn_liveauction">live auction</div>
                  <div class="icn_txtcnt fRight icn_dashboard">dashboard</div>
                </div>
            </div>
            <div class="searchSection fmralewayB">
                <div class="wrapperMax">
                <div class="general_cont fLeft">
                    <span class="icnClosedauc txtUpper">closed auction</span>
                </div>
                <div class="general_cont fRight">
                    <span class="srch_cnt">
                        <div class="icn_srch"></div>
                        <input type="text" class="srch_input fLeft fmralewayB" placeholder="Search">
                    </span>
                </div>
                </div>
            </div>
