<div class="headerSection fmralewayB">
    <div class="wrapperMax">
        <div class="logo fLeft"></div>
        <div class="icn_profile fRight poR">
            <div class="profilePnl" ng-click="openLogout($event.target)">
                <ul>
                    <li class="icnLogout" ng-click="logout()">Log Out</li>
                </ul>
            </div>
        </div>
        <div class="icn_setting fRight"></div>
        <a href="#!bank_auction">
            <div class="icn_txtcnt fRight icn_bidauction jwl bnk" ng-class="{'icn_auctionSelect':selectedTab === 'auc'}">auction</div>
        </a>
        <a href="#!bank_closedauction">
            <div class="icn_txtcnt fRight icn_closedauction" ng-class="{'icn_closedauctionSelect':selectedTab === 'clsd'}">closed auction</div>
        </a>
        <a href="#/!">
            <div class="icn_txtcnt fRight icn_liveauction" ng-class="{'icn_liveauctionSelect':selectedTab === 'live'}">live auction</div>
        </a>
        <div class="icn_txtcnt fRight icn_dashboard">dashboard</div>
    </div>
</div>